# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.next
/client/.yarn
/client/.env.local

/contract/node_modules
/contract/.yarn
/contract/.env
/.pnp
.pnp.js
client/.yarn/install-state.gz
.yarn/cache
.idea

node_modules
.env

# Hardhat files
/contract/cache
/contract/artifacts

# TypeChain files
/contract/typechain
/contract/typechain-types

# solidity-coverage files
/contract/coverage
/contract/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/contract/ignition/deployments/chain-31337

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
/client/next-env.d.ts
